body{
    background-color: bisque;
}

.container{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 20px;
}

input{
    padding: 10px;
    margin: 20px;
}

button{
    display: flex;
    background-color: blueviolet;
    padding: 2px;
    width: 3em;
    height: 2em;
    margin-left: 6em;
    border-radius: 20px;
}